
@using PeopleJson.Data
@model IEnumerable<Person>


<div class="row">
    <div class="col-md-3 col-md-offset-4 well">
        <input type="text" class="form-control" id="first-name-input" placeholder="First Name" />
        <input type="text" class="form-control" id="last-name-input" placeholder="Last Name" />
        <input type="text" class="form-control" id="age-input" placeholder="Age" />
        <button class="btn btn-warning" id="add-person-btn">Add Person</button>
    </div>
    <div>
        <table class="table table-bordered" id="people-table">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </table>
    </div>
</div>


<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Edit Person</h2>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="first-name-modal" placeholder="First Name" />
                <input type="text" class="form-control" id="last-name-modal" placeholder="Last Name" />
                <input type="text" class="form-control" id="age-modal" placeholder="Age" />
                <input type="hidden" id="id-modal" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="edit-modal-button">Edit Person</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/index.js"></script>
}